::-moz-selection {
	color: white;
	background: #6e48aa;
}

::selection {
	color: white;
	background: #6e48aa;
}

html {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	background: #f5f5f5;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 1.4rem;
	color: rgba(0, 0, 0, 0.6);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

header {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-image: -webkit-gradient(
		linear,
		right top,
		left top,
		from(#9d50bb),
		to(#6e48aa)
	);
	background-image: -webkit-linear-gradient(right, #9d50bb, #6e48aa);
	background-image: -o-linear-gradient(right, #9d50bb, #6e48aa);
	background-image: linear-gradient(to left, #9d50bb, #6e48aa);
	padding: 2rem 2rem 10rem 2rem;
}

.illustration {
	height: 10rem;
	width: auto;
	margin: 1rem;
}

.heading {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
	color: rgba(255, 255, 255, 0.9);
	margin: 2rem 0;
	font-weight: 300;
	text-align: center;
	line-height: 1.5;
}

.break {
	display: inline-block;
}

.subheading {
	color: rgba(255, 255, 255, 0.9);
	background: rgba(255, 255, 255, 0.1);
	padding: 1.15rem 1.5rem;
	display: none;
	vertical-align: middle;
	-webkit-border-radius: 0.3rem;
	border-radius: 0.3rem;
}

.spinner {
	z-index: 1000;
	height: 4rem;
	width: 4rem;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 4px solid rgba(255, 255, 255, 0.3);
	border-top: 4px solid rgba(255, 255, 255, 0.9);
	-webkit-animation: spin 0.75s linear infinite;
	animation: spin 0.75s linear infinite;
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.coin-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 90vw;
	max-width: 1000px;
	-webkit-transform: translateY(-8rem);
	-ms-transform: translateY(-8rem);
	transform: translateY(-8rem);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}

.table-heading {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 3rem;
	background: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	color: black;
	font-size: 1.4rem;
}

.table-heading-id,
.table-heading-price,
.table-heading-change,
.table-heading-marketcap,
.coin-id,
.coin-price,
.coin-change,
.coin-marketcap {
	width: 24%;
}

.table-heading-rank {
	padding-left: 2rem;
}
.table-heading-marketcap {
	padding-right: 2rem;
}

.table-heading-id,
.coin-id {
	padding-left: 1rem;
	text-align: left;
}

.table-heading-price,
.table-heading-change,
.table-heading-marketcap,
.coin-price,
.coin-change,
.coin-marketcap {
	text-align: right;
}

.coin-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1rem;
	height: 6rem;
	color: inherit;
	background: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.coin-rank {
	font-size: 1.2rem;
	width: 4%;
}

.logo {
	height: 16px;
	width: 16px;
}

.info {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 2rem 3rem;
	min-height: 10rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	background: white;
	display: none;
}

.info-symbol {
	font-size: 2rem;
	font-weight: 300;
	width: 30%;
	text-align: left;
	overflow: hidden;
}

.info-container {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-left: 2rem;
	width: 70%;
}

.button-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transform: translateY(-6rem);
	-ms-transform: translateY(-6rem);
	transform: translateY(-6rem);
}

button {
	font-size: 1.4rem;
	padding: 1rem;
	border: none;
	background: -webkit-linear-gradient(75deg, #14af83, #15b89a);
	background: -o-linear-gradient(75deg, #14af83, #15b89a);
	background: linear-gradient(15deg, #14af83, #15b89a);
	color: white;
	-webkit-box-shadow: 0 0 5px 0 #0000000d;
	box-shadow: 0 0 5px 0 #0000000d;
	-webkit-border-radius: 0.3rem;
	border-radius: 0.3rem;
	cursor: pointer;
}

.next {
	margin-left: 1rem;
}
.prev {
	margin-right: 1rem;
}

footer {
	font-size: 1.4rem;
	margin: 0 2rem 2rem 2rem;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
}

a,
a:link,
a:hover,
a:visited,
a:active {
	color: rgba(0, 0, 0, 0.6);
}

/* media queries */
@media screen and (max-width: 768px) {
	.heading {
		font-size: 2rem;
	}

	.illustration {
		height: 15rem;
	}

	.coin-container {
		width: 95vw;
	}

	.table-heading-id,
	.table-heading-price,
	.table-heading-change,
	.coin-id,
	.coin-price,
	.coin-change {
		width: 30%;
	}

	.table-heading-rank,
	.table-heading-marketcap,
	.coin-rank,
	.coin-marketcap {
		display: none;
		width: 0;
	}

	.coin-wrapper {
		font-size: 1.2rem;
	}

	.info-marketcap,
	.info-rank {
		display: block;
	}

	.info-symbol {
		width: 40%;
		font-size: 1.6rem;
	}

	.info-price {
		display: none;
	}

	.info-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		font-size: 1.2rem;
		width: 60%;
	}

	footer {
		font-size: 1.2rem;
	}
}

/* javascript classes */
.positive {
	color: #8bc34a;
}

.negative {
	color: #e91e63;
}

.block {
	display: block;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.selected {
	background: #f6f2f9;
}
